<% 
  const monthNames = ["January", "February", "March", "April", "May", "June",
    "July", "August", "September", "October", "November", "December"
  ];
  const weekDayNames = ["Sunday","Monday","Tuesday","Wednesday","Thursday",
    "Friday","Saturday"];
  const currentDate = new Date;

  const weekday = currentDate.getDay();
  const month = currentDate.getMonth();
  const day = currentDate.getDate();
  const year = currentDate.getFullYear();
%>
<div id="nav">
  <div class="logo">
    <img src="/at-logo-v2.svg">
    <span>AlwaysTrending</span>
  </div>
  <div class="nav-date">
    <span>
      <%= `${weekDayNames[weekday]}, ${monthNames[month]} ${day}, ${year}`%>  
    </span>
  </div>
  <div style="opacity:0.3">
  <hr />
  </div>
  <div class="nav-buttons">
    <ul>
      <% for (let navEntry of [
        {
          'path': '/',
          'text': 'ABOVE THE FOLD'
        },
        {
          'path': '/news',
          'text': 'NEWS'
        },
        {
          'path': '/essays',
          'text': 'ESSAYS'
        },
        {
          'path': '/about',
          'text': 'ABOUT'
        }
      ]) { %>
      <li>
        <a href="<%= navEntry.path%>"
           <% if (navEntry.path === locals.path) { %>class="active"<% } %>>
          <%= navEntry.text %>
        </a>  
      </li>
      <% } %>
    </ul>
  </div>
</div>