<div id="nav">
  <div class="logo">
    <img src="/at-logo-v2.svg">
    <span>AlwaysTrending</span>
  </div>
  <div class="nav-buttons">
    <ul>
      <% for (let navEntry of [
        {
          'path': '/',
          'text': 'ABOVE THE FOLD'
        },
        {
          'path': '/news',
          'text': 'NEWS'
        },
        {
          'path': '/essays',
          'text': 'ESSAYS'
        },
        {
          'path': '/about',
          'text': 'ABOUT'
        }
      ]) { %>
      <li>
        <a href="<%= navEntry.path%>"
           <% if (navEntry.path === locals.path) { %>class="active"<% } %>>
          <%= navEntry.text %>
        </a>  
      </li>
      <% } %>
    </ul>
  </div>
</div>