# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store
experimental/*
db_dumps/*

# Docker
Dockerfile
docker-compose.yml
.env

# Credentials
config/secret-config.js
