html {
  min-height:100%;
}

body {
  margin: 0;
  padding: 0;
  color: #333333;
  font-family: 'Lato', sans-serif;
}

#nav {
  background-color: #20B2FF;
  color: #FFFFFF;
  font-family: 'Signika Negative', sans-serif;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 140px;
  margin: 0;
  padding:0; 
}

.logo img {
  width:auto;
}

#nav span {
  font-size: 82px;
  margin: 0 0 0 14px;
}

.nav-buttons {
  display: block;
  margin: 0 0 20px 0;
}

.nav-buttons ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nav-buttons li {
  text-align: center;
  display: list-item;
  flex-grow: 1;
  font-size: 20px;
  padding: 0 14px;
}

.nav-buttons a,
.nav-buttons a:visited,
.nav-buttons a:link,
.nav-buttons a:active {
  text-decoration: none;
  color:inherit;
  opacity:0.65;
}

.nav-buttons a:hover {
  color:inherit;
  opacity: 0.95;
  text-decoration: none;
}

#content {
  background-color: #FFFFFF;
  max-width: 740px;
  margin: 60px auto 50% auto;
  font-size: 16px;
  line-height: 1.75em;
  padding: 16px 40px;
  border: 1px solid #DDDDDD;
  border-radius: 8px;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
}

#content-panel {
  min-width: 100%;
}

@media (min-width:240px)  { 
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
  .logo {
    padding: 14px;
  }

  .logo img {
    width: 26px;
  }

  #nav span {
    font-size: 26px;
  }

  .nav-buttons {
    margin: 0 0 10px 0;
  }

  .nav-buttons li {}

  #content {
    margin-top: 15px;
    max-width: 85%;
  }

  #content-panel {
  }
}
@media (min-width:480px)  { 
  /* smartphones, Android phones, landscape iPhone */ 
  .logo {
    padding: 14px;
  }

  .logo img {
    width: 26px;
  }

  #nav span {
    font-size: 26px;
  }

  .nav-buttons {
    margin: 0 0 10px 0;
  }

  .nav-buttons li {}
}
@media (min-width:600px)  { 
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
  .logo {
    padding: 14px;
  }

  .logo img {
    width: 40px;
  }

  #nav span {
    font-size: 40px;
  }

  .nav-buttons {
    margin: 0 0 10px 0;
  }

  .nav-buttons li {}

  #content {
    margin-top: 40px;
  }
}
@media (min-width:801px)  { 
  /* tablet, landscape iPad, lo-res laptops ands desktops */ 
  .logo img {
    width:auto;
  }

  #nav span {
    font-size: 82px;
    margin: 0 0 0 14px;
  }

  .nav-buttons {
    margin: 0 0 20px 0;
  }

  #content {
    margin-top: 60px;
    max-width: 740px;
  }

  #content-panel {
  }

}
@media (min-width:1025px) { 
  /* big landscape tablets, laptops, and desktops */ 
}
@media (min-width:1281px) { 
  /* hi-res laptops and desktops */ 
}


#copyright {
  /*position: absolute;*/
  bottom:0;
  left:0;
  width: 100%;
  opacity: 0.4;
  font-size: 10px;
  text-align:center;
  padding: 16px 0;
}