html {
  min-height:100%;
}

body {
  margin: 0;
  padding: 0;
  /*background-color: #555c65;*/
  background-color: #F5F5F5;
  color: #333333;
  font-family: 'Lato', sans-serif;
}

#nav {
  /*background-color: #555c65;*/
  /*background-color: #999999;*/
  background-color: #20B2FF;
  color: #FFFFFF;
  font-family: 'Signika Negative', sans-serif;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  margin: 0;
  padding:0; 
}

#nav span {
  font-size: 82px;
  margin: 0 14px;
}

.nav-buttons {
  display: block;
  border-color: #FFFFFF;
  border-width: 1px 0;
  border-style: solid;
}

.nav-buttons ul {
  display: flex;
  justify-content: space-around;
}

.nav-buttons li {
  display: inline-block;
  font-size: 20px;
}

#content {
  background-color: #FFFFFF;
  max-width: 740px;
  margin: 40px auto;
  font-size: 16px;
  line-height: 1.75em;
  padding: 16px 40px;
  border: 1px solid #EEEEEE;
  border-radius: 8px;
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}

#content-panel {
  position: absolute;
  min-width: 100%;
  background-size:contain;
  background-repeat:no-repeat;
}


#copyright {
  /*position: absolute;*/
  bottom:0;
  left:0;
  width: 100%;
  opacity: 0.4;
  font-size: 10px;
  text-align:center;
  padding: 4px 0;
}