body {
  margin: 0;
  padding: 0;
  background-color: #555c65;
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
}

#nav {
  font-family: 'Signika Negative', sans-serif;
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 180px;
  margin: 0;
  padding:0; 
}

#nav span {
  font-size: 64px;
}

.nav-buttons {
  display: block;
  border-color: #FFFFFF;
  border-width: 1px 0;
  border-style: solid;
}

.nav-buttons ul {
  display: flex;
  justify-content: space-around;
}

.nav-buttons li {
  display: inline-block;
  font-size: 20px;
}

#content {
  max-width: 740px;
  margin: 40px auto;
  font-size: 16px;
  line-height: 1.75em;
}

#copyright {
  position: absolute;
  bottom:0;
  left:0;
  width: 100%;
  opacity: 0.4;
  font-size: 10px;
  text-align:center;
  padding: 4px 0;
}