<!DOCTYPE html>
<html>
<head>
  <title>AlwaysTrending - Create Article</title>
  <% include ../../partials/header.ejs %>
</head>
<body>
<% include ../../partials/nav.ejs %>

<form action="/articles" method="post">
  <% include partials/form.ejs %>

  <button type="submit">Create</button>
</form>

<% include ../../partials/footer.ejs %>
</body>
</html>