<!DOCTYPE html>
<html>
<head>
  <title>AlwaysTrending - Create Article</title>
  <% include ../../partials/static.ejs %>
</head>
<body>
<% include ../../partials/nav.ejs %>

<div id="content">
  <form action="/articles" 
        method="post">
    <% include partials/form.ejs %>

    <button type="submit">Create</button>
  </form>
</div>

<% include ../../partials/footer.ejs %>
</body>
</html>