<!DOCTYPE html>
<html>

<head>
  <title>AlwaysTrending - Edit Article</title>
  <%- include('../../partials/header.ejs') %>
</head>

<body>
  <%- include('../../partials/nav.ejs') %>

    <div id="content">
      <form action="/articles<%= article.id ? `/${article.id}` : ''%>" method="post">
        <% include partials/form.ejs') %>

          <button type="submit">Update</button>
      </form>
    </div>

    <%- include('../../partials/footer.ejs') %>
</body>

</html>