<!DOCTYPE html>
<html>
<head>
  <title>Articles - AlwaysTrending</title>
  <% include ../../partials/header.ejs %>
</head>
<body>
<% include ../../partials/nav.ejs %>

  <div id="content">
    <% for (let article of articles) { %>
      <h2>
        <a href="/articles/<%= article.id %>"><%= article.title %></a>
         - <%= article.readablePublishDate() %>
      </h2>
      <p>
        <a href="/articles/<%= article.id %>/edit">Edit</a>
    <% } %>
  </div>
</div>

<% include ../../partials/footer.ejs %>
</body>
</html>
