<!DOCTYPE html>
<html>
<head>
  <title><%= article.title %> - AlwaysTrending</title>
  <% include ../../partials/header.ejs %>
</head>
<body>
<% include ../../partials/nav.ejs %>


<div id="content-panel">

  <div id="content">
    <h2><%= article.readablePublishDate() %></h2>
    <hr />
    <h1><%= article.title %></h1>
    <%- article.body %>
  </div>
</div>

<% include ../../partials/footer.ejs %>
</body>
</html>
