<!DOCTYPE html>
<html>
<head>
  <title>AlwaysTrending - About</title>
  <% include ../partials/header.ejs %>

  <style>
    body {
      background:url(https://s3-us-west-1.amazonaws.com/alwaystrending/images/hands-coffee-cup-apple_1920x1080.jpg) no-repeat top center fixed;
      background-size:cover;
    }
  </style>
</head>
<body>
<% include ../partials/nav.ejs %>

<div id="content" class="shadowbox">
  <h3>What is <i>AlwaysTrending</i>?</h3>
  <p>
    <i>AlwaysTrending</i> is an unavoidable eventuality of the tech sector.
  </p>
  <p>The industry presents itself to the world as a conglomeration of stuck-up tightwads who can't take a joke. The aim of AlwaysTrending is to allow for us to laugh at ourselves, or at least for other people to laugh at us.
  </p>
  <h3>Who is <i>AlwaysTrending</i>'s audience?</h3>
  <p>
    If you've ever screamed at a compiler for disobedience; if you've ever cut your teeth at a startup in exchange for gobs of worthless equity; if you thought Google Glass was pretentious, yet scour ProductHunt daily for ways to avoid doing laundry; if you've ever closed Hacker News, glanced at a swamp of terminal error messages, then reopened Hacker News in a new tab - AlwaysTrending is for you.
  </p>
  <h3>About the Editor-in-Chief</h3>
  <img style="display:block; width:100%" src="https://s3-us-west-1.amazonaws.com/alwaystrending/images/jmt.jpg">
  <p>
    <b>Matt Frisbie</b> is a software engineer at Google, and author of several books. He spends his time neglecting code documentation, dodging recruiter spam, and devising elaborate ways of solving the world's problems with nothing but JavaScript. Check out his totally awesome personal site <a href="http://mattfriz.com">here</a>.
  </p>
  <h3>Apply to Contribute</h3>
  <p>
    If you'd like to contribute to the site, let us know you're interested.
  </p>
  <p>
    <span style="font-weight:bold;cursor:pointer;" 
          onclick="const email='moc.liamg@eibsirfsm'.split('').reverse().join('');this.innerHTML='<a href=\'mailto:'+email+'\' >'+email+'</a>'">Click here to reach out</span>
  </p>
</div>

<% include ../partials/footer.ejs %>
</body>
</html>
