<!DOCTYPE html>
<html>
<head>
  <title>AlwaysTrending</title>
  <% include ../partials/header.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>

<div id="content">Content!</div>

<% include ../partials/footer.ejs %>
</body>
</html>
