<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <!-- <% include ../partials/nav.ejs %> -->

  <div id="header">

    <img src="/at-logo-v2.svg">

    <span>AlwaysTrending</span>
  </span>


</body>
</html>
