<!DOCTYPE html>
<html>
<head>
  <title>AlwaysTrending - Profile</title>
  <% include ../partials/header.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>

<h1>Profile Page</h1>

<p>
    <strong>id</strong>: <%= user._id %><br>
    <strong>email</strong>: <%= user.email %><br>
    <strong>password</strong>: <%= user.password %>
</p>

<% include ../partials/footer.ejs %>
</body>
</html>
