<!DOCTYPE html>
<html>
<head>
  <title>AlwaysTrending - Profile</title>
  <% include ../partials/header.ejs %>
</head>
<body>
<% include ../partials/nav.ejs %>


<div id="content">
    <h1>Profile Page</h1>
    <p>
        <strong>id</strong>: <%= user.id %><br>
        <strong>email</strong>: <%= user.email %><br>
        <strong>password</strong>: <%= user.password %>
    </p>
</div>

<% include ../partials/footer.ejs %>
</body>
</html>
