<!DOCTYPE html>
<html>

<head>
  <title>AlwaysTrending Sitemap</title>
  <%- include('../partials/header.ejs') %>
</head>

<body>
  <%- include('../partials/nav.ejs') %>

    <div id="content" class="shadowbox">
      <h3><a href="/sitemap">Site map</a></h3>
      <h3><a href="/login">Login</a></h3>
      <h3><a href="/logout">Logout</a></h3>
      <h3><a href="/signup">Signup</a></h3>
      <h3><a href="/profile">Profile</a></h3>
      <h3><a href="/articles">Article list</a></h3>
    </div>

    <%- include('../partials/footer.ejs') %>
      </div>

</body>

</html>