
<div class="featured-article">
  <a href="<%= featuredArticle.getUrl() %>">
    <div class="article-preview-overlay">
      <span class="article-preview-text article-preview-title">
        <%= featuredArticle.title %>
      </span>
    </div>
  </a>
</div>
